.imgProductos {
    width: 220px;
    height: 220px;
    object-fit: contain;
    margin-top: 1rem;
}

.card {
    display: flex;
    align-items: center;
    margin: 0.5rem;
}

.colorBoton {
    color: rgb(0, 0, 0);
    background: rgb(2,7,242);
    background: radial-gradient(circle, rgba(2,7,242,0.2945553221288515) 0%, rgba(5,35,255,0.5578606442577031) 100%);
    margin: 0.5rem;
    font-size: 1.2rem;
}

.colorBoton:hover {
    background-color: green;
    color: white;
}